@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-border: var(--border);
}

:root {
    --background: #ffffff;        /* Light background */
    --foreground: #000000;        /* Dark text */

    --primary: #000000;
    --border: #e2e8f0;
}

:root.dark {
    --background: #000000;        /* Dark background */
    --foreground: #f8fafc;        /* Light text */

    --primary: #000000;
    --border: #334155;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Bai Jamjuree", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}
